Build/bin
Build/obj
!Build/Assets/**
Bin

.idea
.vs
**.vcxproj.user

Imgui.ini
**.vcxproj
*.filters
/lib/simdjson.dir/**
/lib/fastgltf/fastgltf.dir/**
*.idb
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.vcxproj;
**.sln
**.vcs.xml
*.sln
/CMakeFiles/3.25.1
/CMakeFiles
*.sln

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
**.dir
Debug